<%= simple_form_for(@asset) do |f| %>
  <%= f.error_notification %>

  <ol class="inputs">
    <%= f.input :code %>
    <%= f.input :name %>
    <%= f.input :brand %>
    <%= f.input :model %>
    <%= f.input :buy_price %>
  </ol>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
