<%= simple_form_for(@asset) do |f| %>
  <%= f.error_notification %>

  <ol class="inputs">
    <%= f.input :code %>
    <%= f.input :name %>
    <%= f.input :status, :collection => ['Danificado','Em uso','Em manutenção'], :as => :radio %>
    <%= f.input :brand %>
    <%= f.input :model %>
    <%= f.input :buy_price %>
    <%= f.input :location_id, :collection => nested_set_options(Location, @asset.location) {|i, level| "#{'-' * level} #{i.name}" } %>
    <%= f.input :tag_list %>
  </ol>

  <div class="actions">
    <%= f.button :submit %> ou <%= link_to "Cancelar", assets_path %>
  </div>
<% end %>
