<header>
  <h1>Lista de Ativos</h1>
  <div id="list_controls">
    <ul class="left">
      <li>
        <%= link_to 'Novo Ativo', new_asset_path, :class => 'button' %>
      </li>
    </ul>
  </div>
</header>
<div class="section_content">
  <table>
    <thead>
      <tr>
        <th>Código</th>
        <th>Nome</th>
        <th>Situação</th>
        <th>Tags</th>
        <th colspan='2'>Ações</th>
      </tr>
    </thead>
    <tbody>
      <% @assets.each do |asset| %>
        <tr>
          <td><%=link_to asset.code, asset %></td>
          <td><%= asset.name %></td>
          <td><%= asset.status %></td>
          <td><%= asset.tag_list %></td>
          <td class="edit"><%= link_to "Editar", edit_asset_path(asset) %></td>
          <td class="destroy"><%= link_to("Apagar", asset , :method => :delete, :confirm => "Tem certeza?") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>


