<header>
  <h1>Lista de Ativos</h1>
  <div id="list_controls">
    <ul class="left">
      <li>
        <%= link_to 'Novo Ativo', new_asset_path, :class => 'button' %>
      </li>
    </ul>
  </div>
</header>
<div class="section_content">
  <table>
    <thead>
      <tr>
        <th>Código</th>
        <th>Nome</th>
        <th>Situação</th>
        <th>Marca</th>
        <th>Modelo</th>
        <th>Preço</th>
      </tr>
    </thead>
    <tbody>
      <% @assets.each do |asset| %>
        <tr>
          <td><%=link_to asset.code, asset %></td>
          <td><%= asset.name %></td>
          <td><%= asset.status %></td>
          <td><%= asset.brand %></td>
          <td><%= asset.model %></td>
          <td><%= asset.buy_price %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>


