<header>
  <h1>Ativo - <%= @asset.code %></h1>
  <div id="list_controls">
    <ul class="left">
      <li>
        <%= link_to 'Voltar para lista de Ativos', assets_path, :class => "back"  %>
      </li>
      <li>
        <%= link_to 'Novo Ativo', new_asset_path, :class => 'button' %>
      </li>
      <li>
        <%= link_to 'Editar', edit_asset_path(@asset), :class => "button" %> 
      </li>
      <li>
        <%= link_to("Apagar", @asset , :method => :delete, :confirm => "Tem certeza?", :class => "button") %>
      </li>
    </ul>
  </div>
</header>
<dl>
  <dt>Nome</dt>
  <dd><%= @asset.name %></dd>
  <dt>Situação</dt>
  <dd><%= @asset.status %></dd>
  <dt>Marca</dt>
  <dd><%= @asset.brand %></dd>
  <dt>Modelo</dt>
  <dd><%= @asset.model %></dd>
  <dt>Preço de Compra</dt>
  <dd><%= @asset.buy_price %></dd>
</dl>